input {
  width: 50px;
  padding: 5px;
  width: 50%;
  
}

input[type="file"]{
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
}

img {
  width: 150px;
  margin: auto;

}


@media screen and (min-width:375px ) and (max-width:768px ) {
 img{
  display: block;
  /* margin: 5px auto; */
  
 }

}

@media screen and (max-width:375 ) {
  img{
   display: block;
   
  }
 
 }




/* .tab{
  position: absolute;
  left: 50%;
  top: 50%;
} */